.photo-list__item {
  margin: 20px auto;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  padding-bottom: -0em;
}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  margin-top: 10px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 15px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  margin-bottom: -27px;
}

.photo-list__user-location {
  color: #838383;
}
.photo-list__user-info__location {
  display:block;
  margin-left: 10px;
}