.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  border-radius: 12px;
  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */

  /* Add some padding to the right to prevent content from shifting when scrollbar appears/disappears */
  padding-right: 20px; /* Adjust as needed */

  /* Custom scrollbar track */
  &::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 248, 248, 0.1); /* Adjust as needed */
  }

  /* Hide the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px; /* Rounded corners for the thumb */
  }
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 1em;
  margin-top: 8px;
}

.photo-details-modal__image {
  // padding: 2em;
  max-width: 100%;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  padding-left: 2em;
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}